/** CSS STYLE **/

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("./fonts/Neucha-Regular.ttf");
}

* {
  font-family: "Open Sans";
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

h1 {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 72px;
  font-style: normal;
  line-height: 1.2em;
}

h2 {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  line-height: 1.2em;
  color: #feba02;
  margin: 0;
}

.h2-custom {
  font-size: 52px;
  color:#fff;
}

h3 {
  font-family: Neucha, sans-serif;
  font-style: normal;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.2em;
}

h4 {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  line-height: 1.2em;
}

p {
  font-size: 16px;
  line-height: 1.6em;
}

.number {
  padding-bottom: 40px;
  font-size: 64px;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 1;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  width: 95%;    
  height: 100%;
  margin-left: 35px;
  margin-right: 35px;
}

.header > * {
  z-index: 100;
}

.header-image {
  position: absolute;
  top: -42px;
  right: -166px;
}

.header-columns {
  margin-top: 203px;
  column-count: 2;
  column-gap: 30px;
}

.header-columns p {
  margin-top: 0;
}

.header-button {
  width: 148px;
  border: none;
  padding: 12px 24px;
  font-weight: bold;
  color: #fff;
  margin-top: 25px;
  font-size: 16px;
}

.header-button:hover {
  background-color: #ea7600;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 15%));
}

#navigation {
  padding-top: 200px;
  padding-bottom: 100px;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  max-width: 350px;
  max-height: 323px;
  background-color: #f5f4f0;
  padding: 24px;
  margin-top: 20px;
}

.card-bigger {
  max-height: 348px;
}

.card h3 {
  margin-bottom: 0;
  margin-top: 38px;
}

.card a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.card h3 {
  color: #feba02;
}

.card:not(:first-child):hover {
  background-color: #feba02;
  color: #fff;
}

.card:not(:first-child):hover h3 {
  color: #fff;
}

.kognivitive-section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.ikea-effect::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 3%;
  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  width: 100vw;
  height: 100%;
}

.ikea-effect > * {
  z-index: 100;
}

.whatever {
  display: flex;
}

.ikea-effect-columns {
  column-count: 2;
  column-gap: 30px;
}

.ikea-effect-columns p {
  margin-top: 0;
}

.ikea-effect-img {
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 15%));
}

.ikea-effect-columns-header {
  column-span: all;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.footer-subscribe {
  display: flex;
  width: 1110px;
  justify-content: space-between;
  padding: 20px 38px;
}

.footer-subscribe div {
  flex-grow: 1;
}

.footer-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.input-group {
  display: flex;
  width: 100%;
  max-height: 50px;
}

#email {
  height: 50px;
  flex-grow: 1;
  padding: 15px;
  border: none;
}

#email-submit {
  position: relative;
  height: 50px;
  width: 70px;
  padding: 0;
  border: none;
  background-color: #feba02;
}

#email-submit::before {
  content: "";
  position: absolute;
  bottom: 15px;
  right: 25px;
  background-image: url("../assets/images/Vector.png");
  width: 20px;
  height: 20px;
}

#email-submit:hover {
  background-color: #ea7600;
}

.footer-little-font {
  font-size: 12px;
}

.contacts > * {
  font-size: 14px;
}

.primary-bg {
  background-color: #feba02;
}

.secondary-bg {
  background-color: #42413c;
}

.dark-bg {
  background-color: #b09A81;
}

.light-bg {
  background-color: #f5f4f0;
}

.standart-font {
  color: #2a2626;
}

.primary-font {
  color: #feba02;
}

.secondary-font {
  color: #908d8b;
}

.white-50-font {
  color: #d7ccc0;
}

.dark-font {
  color: #b09a81;
}

.white-font {
  color: #fff;
}

.white-bg {
  background-color: #fff;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0px;
}

.mt-0 {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 9px;
}

.mtt-0 {
  margin-top: 0;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-35 {
  margin-bottom: 35px;
}

.pb-2 {
  padding-bottom: 30px;
}

.pb-3 {
  padding-bottom: 30px;
}

.ml-3 {
  margin-left: 30px;
}

.mr-3 {
  margin-right: 30px;
}

.mt-6 {
  margin-top: 60px;
}

.pt-10 {
  padding-top: 100px;
}

.mb-10 {
  margin-bottom: -94px;
}

.py-10 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.break-after {
  break-after: column;
}

.clip-overflow {
  overflow: clip;
}

.neucha {
  font-family: Neucha, sans-serif;
  font-style: normal;
  font-size: 24px;
}

.relative {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}
